<mat-toolbar class="header-toolbar" id="myHeader">
    <button mat-button (click)="home()">
        <img src="../../../../assets/img/logoFit.png" alt="logoFit" class="img-logo">
    </button>

    <span class="spacer"></span>
    <div class="navbar">
        <button mat-button (click)="home()">
            <strong>Inicio</strong>
        </button>

        <button mat-button (click)="galery()">
            <strong>Galeria</strong>
        </button>

        <button *ngIf="isLogged && isAdmin" mat-button [matMenuTriggerFor]="museumMenu">
            <strong>Museo</strong>
        </button>

        <mat-menu #museumMenu="matMenu">
            <button mat-menu-item (click)="uploadContent()">
                <mat-icon>upload</mat-icon>
                <span>Subir Contenido</span>
            </button>
            <button mat-menu-item (click)="editContent()">
                <mat-icon>edit</mat-icon>
                <span>Editar Contenido</span>
            </button>
        </mat-menu>

        <span class="spacer"></span>

        <button mat-icon-button (click)="profile()">
            <mat-icon>account_circle</mat-icon>
        </button>
    </div>




</mat-toolbar>