.header-toolbar {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: #582aa8;
    color: white;
    min-height: 64px;
    font-weight: bold;
}

.spacer {
    flex: 1;
}

.logo {
    font-weight: 500;
    font-size: 20px;
}

.img-logo {
    max-height: 150px;
    max-width: 150px;

}

.navbar {
    display: flex;
    align-items: center;
    gap: 20px;

}