<div class="container-footer">
    <div class="col-1">
        <img src="../../../../assets/img/logoFit.png" alt="logoFit">
    </div>

    <div class="col-2">
        <h4>Quick Links</h4>
        <a href="">
            <p>Inicio</p>
        </a>
        <a href="">
            <p>Acerca de Nosotros</p>
        </a>
        <a href="">
            <p>Nuestras Colaboraciones</p>
        </a>
        <a href="">
            <p>Museo Virtual</p>
        </a>
    </div>

    <div class="col-3">
        <h4>Pages</h4>
        <a href="">
            <p>Universidad de Montemorelos</p>
        </a>
        <a href="">
            <p>Facultad de Ingeniera y Tecnoogia</p>
        </a>
        <a href="">
            <p>Pulso UM</p>
        </a>
    </div>
</div>